<!DOCTYPE html>
<html>
<head>
  <title>DMS Query</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type='text/javascript' src='/javascripts/highcharts.js'></script>
  <script type='text/javascript' src='/javascripts/moment.min.js'></script>

  <script type='text/javascript' src='/javascripts/dashboard_burndown.js'></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var queryKey = "<%= title %>";
      startpoint_dashboard_burndown(String(queryKey), 14);
    });
  </script>


</head>
<body>
<h3 id="Page_Title">Burndown chart for </h3>

<div id="chart_placeholder"></div>
<div id="footer_comment"></div>

</body>
</html>
