<!DOCTYPE html>
<html>
<head>
  <title>DMS Tag Date edit page</title>
  <link rel='stylesheet' href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/moment.min.js"></script>
  <script type='text/javascript' src="/javascripts/dashboard_edit_tag_date.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css" />

  <script type="text/javascript">
    $(document).ready(function () {
      var tag_info_json = "<%= tag_date %>".replace(/&quot;/g,'"');
      startpoint_dashboard_edit_tag_date(tag_info_json)

    });

  </script>




</head>
<body>
<h1>Tag Date edit page</h1>

<div id="tag_Date"></div>
<br><br>

<div id="tag_Info"></div>

<br><br>
<div id="tag_Button"></div>
</body>
</html>
