<!DOCTYPE html>
<html>
<head>
  <title>DMS Query</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type='text/javascript' src='/javascripts/jquery.dataTables.min.js'></script>
  <script type='text/javascript' src='/javascripts/dashboard_edit_tag_date.js'></script>
  <link rel="stylesheet" media="all" href="/stylesheets/jquery.dataTables.min.css"/>


  <script type="text/javascript">
    $(document).ready(function () {
      var tag_info_json = "<%= tag_date %>".replace(/&quot;/g,'"');
      startpoint_dashboard_edit_tag_date(tag_info_json)

    });

  </script>


</head>
<body>
<h1>Tag Date edit page</h1>

<div id="tag_Date"></div>
<br><br>

</body>
</html>
