<!DOCTYPE html>
<html>
<head>
  <title>List of  current queries</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type='text/javascript' src='/javascripts/jquery.dataTables.min.js'></script>
  <link rel="stylesheet" media="all" href="/stylesheets/jquery.dataTables.min.css"/>


  <script type="text/javascript">
    $(document).ready(function(){
      var targetURL = window.location.protocol + "//" + window.location.host + "/v1/list?format=json";
      $("#Latest_10_POST a").attr("href", window.location.protocol + "//" + window.location.host + "/v1/query")

      return $.getJSON(targetURL, function(json) {
        createTable(json)
      });
    });

    createTable = function(json) {
      // console.log (json);
      if (json.length === 0){
        console.log('no item found');

      }
      else{
        output_json = [];
        $.each(json, function(i, item) {
          var QueryKey, NumOfItem, QueryDate, QueryLink;
          temp_array = [];

          queryKey = escapeHTML(item["query_key"]);
          if (queryKey.indexOf("Public Queries/") == 0) {
            queryKey = queryKey.slice(15);
          }

          queryKeyArray = queryKey.split("/");
          queryKeyString = "";
          $.each(queryKeyArray, function(count, item) {
            if (count % 2 == 0){queryKeyString = queryKeyString + "<font color='black'>" + item + "</font>/"}
            else{queryKeyString = queryKeyString + "<font color='blue'>" + item + "</font>/"}
          });

          QueryKey      = '<a href=\"' + item["URL"] +  '\" TARGET="_blank">' + queryKeyString + '</a>';
          NumOfItem     = item["num"];
          QueryDate     = highlightDate(item["lastQueryDate"]);

          temp_array.push(QueryKey);
          temp_array.push(NumOfItem);
          temp_array.push(QueryDate);
          return output_json.push(temp_array);
        });
        $("#table_placeholder").html("<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"display responsive\" id=\"DMS_Table\"></table>");
        return $("#DMS_Table").dataTable({
          data: output_json,
          pageLength: 50,
          autoWidth: false,
          columns: [
            {
              title: "Query key/Name"
            }, {
              title: "# of samples",
              width: "120px"
            }, {
              title: "Last Query date",
              width: "120px"
            }
          ]
        });
      }
    };

    escapeHTML = function(text) {
      var replacement;
      replacement = function(ch) {
        var characterReference;
        characterReference = {
          "\"": "&quot;",
          "&": "&amp;",
          "'": "&#39;",
          "<": "&lt;",
          ">": "&gt;"
        };
        return characterReference[ch];
      };
      return text.replace(/["&'<>]/g, replacement);
    };

    highlightDate = function(text_string) {
      console.log(text_string);
      return timeAgoInWords(Date.parse(text_string.replace(/-/g, "/") + " GMT+0000"), 1);
    };

    timeDelta = function(date) {
      var dateTime, e, now;
      try {
        now = Math.ceil(Number(new Date().getTime()) / 1000);
        dateTime = Math.ceil(Number(new Date(date)) / 1000);
        return now - dateTime;
      } catch (_error) {
        e = _error;
        return "";
    }};

    timeAgoInWords = function(date, flag) {
      var diff, e, str;
      try {
        diff = timeDelta(date);
        str = void 0;
        if (diff < 60 * 60) {
          str = String(Math.floor(diff / 60.));
          return (flag === 1 ? str + " minutes ago" : "< 1h");
        } else if (diff < 60 * 60 * 24) {
          str = String(Math.floor(diff / (60 * 60)));
          return (flag === 1 ? str + (str === "1" ? " hour" : " hours") + " ago" : "< 24h");
        } else if (diff < 60 * 60 * 24 * 31) {
          str = String(Math.floor(diff / (60 * 60 * 24)));
          return str + (str === "1" ? " day" : " days") + " ago";
        } else if (diff < 60 * 60 * 24 * 365) {
          str = String(Math.floor(diff / (60 * 60 * 24 * 31)));
          return str + (str === "1" ? " month" : " months") + " ago";
        } else {
          str = String(Math.floor(diff / (60 * 60 * 24 * 365)));
          return str + (str === "1" ? " year" : " years") + " ago";
        }
      } catch (_error) {
        e = _error;
        return "";
    }};
  </script>

</head>
<body>
<h1>List of  current queries</h1>
<div id="table_placeholder" style="float:left; width: 70%"></div>
<br clear="left">
<hr>
<h1>Other list</h1>
<ul>
  <li><div id="Latest_10_POST"><a href="" TARGET="_blank">Show latest 10 POST JSON</a></div>
</ul>
<div id="footer_comment"></div>


</body>
</html>
