<!DOCTYPE html>
<html>
<head>
    <title>DMS Query</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type='text/javascript' src='/javascripts/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" media="all" href="/stylesheets/jquery.dataTables.min.css"/>

    <script type='text/javascript' src='/javascripts/dashboard_query.js'></script>

    <script type="text/javascript">
        $(document).ready(function () {
          var queryKey = "<%= title %>";
          startpoint_dashboard_query(String(queryKey));
        });
    </script>


</head>
<body>
<h1 id="Page_Title">Query for </h1>

<div id="DMS_update_time"></div>
<br><br>

<div id="table_placeholder"></div>
<div id="footer_comment"></div>
</body>
</html>
