<!DOCTYPE html>
<html>
<head>
    <title>DMS Query</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css"/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/dataTables.colVis.css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type='text/javascript' src='/javascripts/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='/javascripts/dataTables.colVis.js'></script>

    <script type='text/javascript' src='/javascripts/dashboard_query.js'></script>

    <script type="text/javascript">
        $(document).ready(function () {
          var queryKey = "<%= title %>";
          startpoint_dashboard_query(String(queryKey));
        });
    </script>


</head>
<body>
<h1 id="Page_Title">Query for </h1>

<span id="DMS_update_time"></span> - <span id="return_to_list_URL"></span>
<br><br>

<div id="table_placeholder"></div>
<div id="footer_comment"></div>
<div id="covlis_button_placeholder"></div>
</body>
</html>
